body{
background:url(images/backgr%20copy.png);
    margin:0;
    padding:0;
}
#wrapper{
    width:740px;
    margin: 0 auto;
}
#header{
height:157px;
}
#header_logo{
    margin-top:50px;
    height:52px;
}
#content{
    height:800px;
    background:white;
    border-radius:10px;
}
#img2{
    
}